.posts-container {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card {
  flex-basis: 80%;
  width: 80%;
  margin: auto auto 15px;
}

mat-card-header {
  border-bottom: 1px solid silver;
}
