@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: #9f9f9f;
}

a:hover{
  color: #737373;
}
