<ul id="user-man" class="nav navbar-top-links navbar-right">
  <span id="login-success-message" class="navbar-text text-success" *ngIf="_authenticationService.IsAuthenticated()">You're logged in!</span>
  <li id="user-dropdown-menu" class="dropdown" *ngIf="_authenticationService.IsAuthenticated()">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-user fa-fw"></i>
    </a>
    <div class="dropdown-menu dropdown-user">
      <span id="profile-menu"></span>
      <a href=# class="dropdown-item"><i class="fas fa-cogs fa-sm"></i> Create new post</a>
      <a id="logoutButton" class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-lg" (click)="logout()"></i> Logout</a>
    </div>
  </li>
  <ul class="auth-buttons" *ngIf="!_authenticationService.IsAuthenticated()">
    <li>
      <a id="loginButton" class="btn btn-outline-primary" data-toggle="modal" data-target="#loginModal">Login</a>
      <a class="btn btn-outline-danger" href="/users/registration/">Registration</a>
    </li>
  </ul>
</ul>

<div login-modal class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  #loginModal *ngIf="!_authenticationService.isAuthenticated">
  <div class="modal-dialog modal-sm border-rounded" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Please sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="login-warning" class="alert alert-danger alert-dismissable" *ngIf="_authenticationService.errors">
          <button type="button" class="close" data-dismiss="alert"
                  aria-hidden="true">&times;
          </button>
          <div id="login-message">
            <div *ngFor="let error of _authenticationService.errors.username">{{ error }}</div>
            <div *ngFor="let error of _authenticationService.errors.password">{{ error }}</div>
            <div *ngFor="let error of _authenticationService.errors.non_field_errors">{{ error }}</div>
          </div>
        </div>
        <form class="form-group">
          <div class="for-group">
            <label for="username-field">Username</label>
            <input id="username-field" type="text" name="username"
                   class="form-control" [(ngModel)]="user.username">
          </div>
          <div class="form-group">
            <label for="password-field">Password</label>
            <input id="password-field" type="password" name="password"
                   class="form-control" [(ngModel)]="user.password">
          </div>
          <button type="submit" id="send-login-form" class="btn btn-lg btn-success btn-block" (click)="login()">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
